table {
    width: 100%;
}

.cancel-button {
    margin-left: 0.5rem;
    background-color: var(--mat-sys-error);
    color: var(--mat-sys-on-error);
}

button[mat-fab] {
    margin: 1rem;
}

.status-active {
    color: var(--mat-sys-primary);
}

.status-inactive {
    color: var(--mat-sys-error);
}
