mat-dialog-content {
    display: flex;
    flex-direction: column;
}

.invalid {
    color: var(--mat-sys-error);
}

.cancel-button {
    background-color: var(--mat-sys-error);
    color: var(--mat-sys-on-error);
}
